{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
    <h1>Welcome</h1>

         {% if is_granted("IS_AUTHENTICATED_FULLY") %}
             <h3>You are connected{{ app.user.username }}
                  {% if is_granted("ROLE_ADMIN") %} as admin {% endif %}
             </h3>
             <h4><a href="{{ path("fos_user_security_logout") }}">Logout</a></h4>
             {% else %}
                 <h5><a href="{{ path("fos_user_security_login") }}">Login</a></h5>
         {% endif %}

{% endblock %}


{% block stylesheets %}

{% endblock %}


{% block javascripts %}

{% endblock %}